@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

:root {
    --skyblue: #1DB7E9; /*Titulos*/
    --blue: #1960A7; /*Titulo Secundario - Botón*/
    --darkblue: #103A75; /*Botón Hover*/
    --gray: #5B5B5F; /*Parrafos*/
    --lightgray: #A4A4A4; /*Textos secundarios*/
    --black: #000; /*Logos - Footer text*/
    --white: #FFF; /*Background*/
    --h1:

}